h1 {
    color: red;
}
body
{

    /* background-color: lightblue; */
}

button{
    background-color: green;
    color: #fc0303;
}

* {
  /* border: 2px solid green; */
  background-color: beige;
}

#hello {
    color: blue;
}

.helloclass {
    color: orange;
}

#myclass, h2 {
    background-color: rgb(0, 9, 128);
    color: rgb(255, 230, 0);
}